<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" 
 role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>Envelope</title>
  <desc>A solid styled icon from Orion Icon Library.</desc>
  <path data-name="layer2"
  fill="currentColor" d="M59.1 12H5l27 24.7L59.1 12z"></path>
  <path data-name="layer1" fill="currentColor" d="M32 42.1L2 14.7V52h60V14.7L32 42.1z"></path>
</svg>