{{!< default}}

{{!--
    Default author archive.

    Parameters that you can change:

    * count = number of posts
    * layout = (list,grid) 
    * showHeader = (true, false)
    * showExcerpt= (true, false)
    * showPrimaryAuthor = (true,false) 
    * showPublishedAt = (true,false) 
    * showAccessMeta = (true,false) 
    * showPrimaryTag = (true,false) 
    * showFeaturedMeta = (true,false) 
    * showReadingTime = (true,false) 
    * showImageHoverAnimation = (true,false) 
    * showMetaHoverAnimation = (true,false) 
    * titleSize= (h2,h3,h4)
--}}


<main class="verdin-main verdin-outer">

        {{#author}}
            {{> "components/author-header"}}
        {{/author}}

        {{> "components/list"
            count="6"
            layout="list" 
            showHeader=false 
            showExcerpt=false
            showPrimaryAuthor=true
            showPublishedAt=true
            showAccessMeta=true
            showPrimaryTag=true
            showFeaturedMeta=true
            showReadingTime=true
            showImageHoverAnimation=true
            showMetaHoverAnimation=true
            titleSize="h2"        
        }}

        {{> "components/list-archives" title="Other authors" displayAuthors=true displayTags=false}}

        {{> "components/cta" title=@custom.email_signup_title subTitle=@custom.email_signup_subtitle}}

</main>