{{!< default}}    
<style>
    :root {
        --color-bg: #c4fdf9;
        --ghost-accent-color: #22c3b8;
    }
</style>
  
  
                
<section class="verdin-about verdin-outer mb-4">
    <div class="verdin-about-inner ">
       
       


        <div class="verdin-about-content">
            <div class="verdin-about-content-inner">
                
                <h1 class="verdin-about-primary bolder h2 bold">I&#x27;m Verdin, a personal Ghost blog theme.</h1>               
              
                <p class="verdin-about-secondary">Buckle up, my friends. We're in for one hell of a ride. And who knows? Maybe we'll discover something truly amazing together. <br/><br /> <strong>Join the community of more than 400 people.</strong></p>
              
                        <div class="verdin-subscribe-input" data-portal>
                            verdin@example.com
                            <span class="verdin-btn verdin-primary-btn">Subscribe</span>
                        </div>
            </div>
        </div>
    </div>
</section>

        


<main class="verdin-main verdin-outer">

    
        
<div class="verdin-list verdin-grid-wrapper" data-column="">
    <div class="verdin-list-inner">

        <header class="verdin-list-header">
            <h2 class="verdin-list-title h5 bolder">Latest writings</h2>
        </header>

    
        
        <div class="verdin-grid-feed verdin-feed gh-feed">
                <article class="verdin-list-item post tag-marketing tag-blog  ">

    <a class="verdin-list-item-inner" href="/liquid-technology-that-will-change-how-you-listen-to-music/">
        
        <div class="verdin-list-item-content">

                    <div class="d-block mb-1 lh-1">
                        <span class="verdin-list-item-primary-tag">Marketing</span>
                    </div>

            <h3 class="verdin-list-item-title h4">Liquid technology that will change how you listen to music</h3>


            <div class="verdin-list-item-meta verdin-list-item-meta-hide">


                    <span class="verdin-article-meta-length">2 min read</span>



            </div>
        </div>

            <figure class="verdin-list-item-image">
                <picture>
                    <source  
                        media="(max-width: 390px)" 
                        srcset="/content/images/size/w300/2023/04/nikita-dobrynin-gmamo4eyxqs-unsplash.webp 1x, /content/images/size/w390/2023/04/nikita-dobrynin-gmamo4eyxqs-unsplash.webp 2x"
                        type="image/jpeg" />
                    <source srcset="/content/images/size/w390/2023/04/nikita-dobrynin-gmamo4eyxqs-unsplash.webp 1x, /content/images/size/w780/2023/04/nikita-dobrynin-gmamo4eyxqs-unsplash.webp 2x" type="image/jpeg" />
                    <img class="lazyload" 
                        src="/content/images/size/w390/2023/04/nikita-dobrynin-gmamo4eyxqs-unsplash.webp" 
                        alt="Liquid technology that will change how you listen to music"
                        data-sizes="auto" />
                </picture>

            </figure>

    </a>
</article>                <article class="verdin-list-item post tag-blog  ">

    <a class="verdin-list-item-inner" href="/at-the-top/">
        
        <div class="verdin-list-item-content">

                    <div class="d-block mb-1 lh-1">
                        <span class="verdin-list-item-primary-tag">Blog</span>
                    </div>

            <h3 class="verdin-list-item-title h4">When you are at the top layers should be your friends</h3>


            <div class="verdin-list-item-meta verdin-list-item-meta-hide">


                    <span class="verdin-article-meta-length">2 min read</span>

                            <span class="verdin-lock"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-diamond-filled" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M18 4a1 1 0 0 1 .783 .378l.074 .108l3 5a1 1 0 0 1 -.032 1.078l-.08 .103l-8.53 9.533a1.7 1.7 0 0 1 -1.215 .51c-.4 0 -.785 -.14 -1.11 -.417l-.135 -.126l-8.5 -9.5a1 1 0 0 1 -.172 -1.067l.06 -.115l3.013 -5.022l.064 -.09a.982 .982 0 0 1 .155 -.154l.089 -.064l.088 -.05l.05 -.023l.06 -.025l.109 -.032l.112 -.02l.117 -.005h12zm-8.886 3.943a1 1 0 0 0 -1.371 .343l-.6 1l-.06 .116a1 1 0 0 0 .177 1.07l2 2.2l.09 .088a1 1 0 0 0 1.323 -.02l.087 -.09a1 1 0 0 0 -.02 -1.323l-1.501 -1.65l.218 -.363l.055 -.103a1 1 0 0 0 -.398 -1.268z" stroke-width="0" fill="currentColor"></path>
</svg>Members</span>			


            </div>
        </div>

            <figure class="verdin-list-item-image">
                <picture>
                    <source  
                        media="(max-width: 390px)" 
                        srcset="/content/images/size/w300/2023/04/tobias-pfeifer-BLUdnq1dB9U-unsplash.webp 1x, /content/images/size/w390/2023/04/tobias-pfeifer-BLUdnq1dB9U-unsplash.webp 2x"
                        type="image/jpeg" />
                    <source srcset="/content/images/size/w390/2023/04/tobias-pfeifer-BLUdnq1dB9U-unsplash.webp 1x, /content/images/size/w780/2023/04/tobias-pfeifer-BLUdnq1dB9U-unsplash.webp 2x" type="image/jpeg" />
                    <img class="lazyload" 
                        src="/content/images/size/w390/2023/04/tobias-pfeifer-BLUdnq1dB9U-unsplash.webp" 
                        alt="When you are at the top layers should be your friends"
                        data-sizes="auto" />
                </picture>

            </figure>

    </a>
</article>                <article class="verdin-list-item post tag-travel tag-news featured  ">

    <a class="verdin-list-item-inner" href="/paths-to-a-lost-island-and/">
        
        <div class="verdin-list-item-content">

                    <div class="d-block mb-1 lh-1">
                        <span class="verdin-list-item-primary-tag">Travel</span>
                    </div>

            <h3 class="verdin-list-item-title h4">Paths to a lost island and Roots of Latin music</h3>


            <div class="verdin-list-item-meta verdin-list-item-meta-hide">


                    <span class="verdin-article-meta-length">2 min read</span>

                            <span class="verdin-lock"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-diamond-filled" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M18 4a1 1 0 0 1 .783 .378l.074 .108l3 5a1 1 0 0 1 -.032 1.078l-.08 .103l-8.53 9.533a1.7 1.7 0 0 1 -1.215 .51c-.4 0 -.785 -.14 -1.11 -.417l-.135 -.126l-8.5 -9.5a1 1 0 0 1 -.172 -1.067l.06 -.115l3.013 -5.022l.064 -.09a.982 .982 0 0 1 .155 -.154l.089 -.064l.088 -.05l.05 -.023l.06 -.025l.109 -.032l.112 -.02l.117 -.005h12zm-8.886 3.943a1 1 0 0 0 -1.371 .343l-.6 1l-.06 .116a1 1 0 0 0 .177 1.07l2 2.2l.09 .088a1 1 0 0 0 1.323 -.02l.087 -.09a1 1 0 0 0 -.02 -1.323l-1.501 -1.65l.218 -.363l.055 -.103a1 1 0 0 0 -.398 -1.268z" stroke-width="0" fill="currentColor"></path>
</svg>Paid</span>


                        <div class="verdin-lock item-featured">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" stroke-width="0" fill="currentColor" />
</svg>


Featured
                        </div>
            </div>
        </div>

            <figure class="verdin-list-item-image">
                <picture>
                    <source  
                        media="(max-width: 390px)" 
                        srcset="/content/images/size/w300/2023/04/malcolm-lightbody-jw2cpfyqo7o-unsplash.webp 1x, /content/images/size/w390/2023/04/malcolm-lightbody-jw2cpfyqo7o-unsplash.webp 2x"
                        type="image/jpeg" />
                    <source srcset="/content/images/size/w390/2023/04/malcolm-lightbody-jw2cpfyqo7o-unsplash.webp 1x, /content/images/size/w780/2023/04/malcolm-lightbody-jw2cpfyqo7o-unsplash.webp 2x" type="image/jpeg" />
                    <img class="lazyload" 
                        src="/content/images/size/w390/2023/04/malcolm-lightbody-jw2cpfyqo7o-unsplash.webp" 
                        alt="Paths to a lost island and Roots of Latin music"
                        data-sizes="auto" />
                </picture>

            </figure>

    </a>
</article>                <article class="verdin-list-item post tag-marketing tag-travel  ">

    <a class="verdin-list-item-inner" href="/skateboarding-is-fun-but-have-you-ever-tried-yellow-brocoli/">
        
        <div class="verdin-list-item-content">

                    <div class="d-block mb-1 lh-1">
                        <span class="verdin-list-item-primary-tag">Marketing</span>
                    </div>

            <h3 class="verdin-list-item-title h4">Skateboarding is fun but have you ever tried yellow Brocoli</h3>


            <div class="verdin-list-item-meta verdin-list-item-meta-hide">


                    <span class="verdin-article-meta-length">2 min read</span>



            </div>
        </div>

            <figure class="verdin-list-item-image">
                <picture>
                    <source  
                        media="(max-width: 390px)" 
                        srcset="/content/images/size/w300/2023/04/niket-nigde-9N3rS-xLfkI-unsplash--1-.webp 1x, /content/images/size/w390/2023/04/niket-nigde-9N3rS-xLfkI-unsplash--1-.webp 2x"
                        type="image/jpeg" />
                    <source srcset="/content/images/size/w390/2023/04/niket-nigde-9N3rS-xLfkI-unsplash--1-.webp 1x, /content/images/size/w780/2023/04/niket-nigde-9N3rS-xLfkI-unsplash--1-.webp 2x" type="image/jpeg" />
                    <img class="lazyload" 
                        src="/content/images/size/w390/2023/04/niket-nigde-9N3rS-xLfkI-unsplash--1-.webp" 
                        alt="Skateboarding is fun but have you ever tried yellow Brocoli"
                        data-sizes="auto" />
                </picture>

            </figure>

    </a>
</article>                <article class="verdin-list-item post tag-marketing tag-blog  ">

    <a class="verdin-list-item-inner" href="/times-are-truly-changing-and-this-time-is-for-the-better/">
        
        <div class="verdin-list-item-content">

                    <div class="d-block mb-1 lh-1">
                        <span class="verdin-list-item-primary-tag">Marketing</span>
                    </div>

            <h3 class="verdin-list-item-title h4">Times are truly changing and this time is for the better</h3>


            <div class="verdin-list-item-meta verdin-list-item-meta-hide">


                    <span class="verdin-article-meta-length">2 min read</span>

                            <span class="verdin-lock"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-diamond-filled" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M18 4a1 1 0 0 1 .783 .378l.074 .108l3 5a1 1 0 0 1 -.032 1.078l-.08 .103l-8.53 9.533a1.7 1.7 0 0 1 -1.215 .51c-.4 0 -.785 -.14 -1.11 -.417l-.135 -.126l-8.5 -9.5a1 1 0 0 1 -.172 -1.067l.06 -.115l3.013 -5.022l.064 -.09a.982 .982 0 0 1 .155 -.154l.089 -.064l.088 -.05l.05 -.023l.06 -.025l.109 -.032l.112 -.02l.117 -.005h12zm-8.886 3.943a1 1 0 0 0 -1.371 .343l-.6 1l-.06 .116a1 1 0 0 0 .177 1.07l2 2.2l.09 .088a1 1 0 0 0 1.323 -.02l.087 -.09a1 1 0 0 0 -.02 -1.323l-1.501 -1.65l.218 -.363l.055 -.103a1 1 0 0 0 -.398 -1.268z" stroke-width="0" fill="currentColor"></path>
</svg>Paid</span>			


            </div>
        </div>

            <figure class="verdin-list-item-image">
                <picture>
                    <source  
                        media="(max-width: 390px)" 
                        srcset="/content/images/size/w300/2023/04/markus-spiske-2G8mnFvH8xk-unsplash.webp 1x, /content/images/size/w390/2023/04/markus-spiske-2G8mnFvH8xk-unsplash.webp 2x"
                        type="image/jpeg" />
                    <source srcset="/content/images/size/w390/2023/04/markus-spiske-2G8mnFvH8xk-unsplash.webp 1x, /content/images/size/w780/2023/04/markus-spiske-2G8mnFvH8xk-unsplash.webp 2x" type="image/jpeg" />
                    <img class="lazyload" 
                        src="/content/images/size/w390/2023/04/markus-spiske-2G8mnFvH8xk-unsplash.webp" 
                        alt="Times are truly changing and this time is for the better"
                        data-sizes="auto" />
                </picture>

            </figure>

    </a>
</article>                <article class="verdin-list-item post tag-marketing tag-news  ">

    <a class="verdin-list-item-inner" href="/orange-juice-and-the-rise-of-the/">
        
        <div class="verdin-list-item-content">

                    <div class="d-block mb-1 lh-1">
                        <span class="verdin-list-item-primary-tag">Marketing</span>
                    </div>

            <h3 class="verdin-list-item-title h4">Orange juice and the rise of the mobile technology</h3>


            <div class="verdin-list-item-meta verdin-list-item-meta-hide">


                    <span class="verdin-article-meta-length">2 min read</span>



            </div>
        </div>

            <figure class="verdin-list-item-image">
                <picture>
                    <source  
                        media="(max-width: 390px)" 
                        srcset="/content/images/size/w300/2023/04/giuseppe-argenziano-lttq1w-vvsi-unsplash-1.webp 1x, /content/images/size/w390/2023/04/giuseppe-argenziano-lttq1w-vvsi-unsplash-1.webp 2x"
                        type="image/jpeg" />
                    <source srcset="/content/images/size/w390/2023/04/giuseppe-argenziano-lttq1w-vvsi-unsplash-1.webp 1x, /content/images/size/w780/2023/04/giuseppe-argenziano-lttq1w-vvsi-unsplash-1.webp 2x" type="image/jpeg" />
                    <img class="lazyload" 
                        src="/content/images/size/w390/2023/04/giuseppe-argenziano-lttq1w-vvsi-unsplash-1.webp" 
                        alt="Orange juice and the rise of the mobile technology"
                        data-sizes="auto" />
                </picture>

            </figure>

    </a>
</article>        </div>
        



    </div>
</div>


    
<div class="verdin-list" data-column="">
    <div class="verdin-list-inner">

            <header class="verdin-list-header">
                <h2 class="verdin-list-title h5 bolder">Browse content</h2>
            </header>

        <div class="verdin-more-feed mb-4">

                        <a href="/author/verdin/" class="h4">Verdin Johnson</a>

                        <a href="/tag/blog/" class="h4">Blog</a>
                        <a href="/tag/marketing/" class="h4">Marketing</a>
                        <a href="/tag/news/" class="h4">News</a>
                        <a href="/tag/travel/" class="h4">Travel</a>

        </div>

    </div>
</div>
        <section class="verdin-cta-wrapper">
        <div class="verdin-cta">
            <div class="verdin-cta-inner">
                <div class="cta-spark">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sparkles" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M16 18a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm0 -12a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm-7 12a6 6 0 0 1 6 -6a6 6 0 0 1 -6 -6a6 6 0 0 1 -6 6a6 6 0 0 1 6 6z"></path>
</svg>                </div>
                <div class="verdin-cta-content">
                        <h2 class="verdin-cta-title h3">Let&#x27;s take this to your inbox.</h2>

                        <p class="verdin-cta-subtitle verdin-subtitle mt-1">We will send you occasional emails about whatever is on our minds - technology, economics, and puppies. You get the idea.</p>
                </div>

                    <div class="verdin-subscribe-col">
                        <div class="verdin-subscribe-input" data-portal>
                            verdin@example.com
                            <span class="verdin-btn verdin-primary-btn">Subscribe</span>
                        </div>
                    </div>

            </div>
        </div>
    </section>

</main>
