{{!< default}}


{{!--
    Default post.

    Parameters that you can change:

    * showComments = (list,grid) 
    * showExcerpt= (true, false)
    * showPrimaryAuthor = (true,false) 
    * showPublishedAt = (true,false) 
    * showAccessMeta = (true,false) 
    * showPrimaryTag = (true,false) 
    * showFeaturedMeta = (true,false) 
    * showReadingTime = (true,false) 
    * shotRelatedPosts = (true,false) 
--}}

{{#post}}

<main class="verdin-main">
    
    {{> "components/article" 
                showComments=true
                showExcerpt=true 
                showPrimaryAuthor=true 
                showPublishedAt=true 
                showAccessMeta=true 
                showPrimaryTag=true
                showFeaturedMeta=true
                showReadingTime=true 
                showPostSidebar=true
                shotRelatedPosts=true      
    }}

    <div class="verdin-outer">
        {{> "components/cta" title=@custom.email_signup_title subTitle=@custom.email_signup_subtitle}}
    </div>

</main>

{{/post}}