/* ==========================================================================
    1. Reset
    2. Layout
    3. Card
    4. Variables / Light text / Fonts
    5. Base styles
    6. Header
    7. Section About
    8. Navigation
    9. Layout widths
    10. List feed
    11. Grid feed
    12. Post list
    13. Authors feed
    14. Tags feed
    15. Membership page
    16. Section Call to action
    17. Icon handlers
    18. Single post
    19. Share
    20. Content CTA
    21. Author
    22. Tags
    23. Archives
    24. Cards - addtiona stylings
    25. Footer
   ========================================================================== */

@import "@tryghost/shared-theme-assets/assets/css/v2/general/reset.css";
@import "@tryghost/shared-theme-assets/assets/css/v2/general/layout.css";
@import "@tryghost/shared-theme-assets/assets/css/v2/general/card.css";

:root {
    --color-text: #15171a;
    --color-text-secondary: rgba(0, 0, 0, .5);
    --color-light-gray: rgba(0, 0, 0, 0.1);
    --color-lightest-gray: rgba(0, 0, 0, .05);
    --color-white: #FFF;
    --color-subtitle: #7a7d85;

    --gap: clamp(2rem, 1.82vw + 1.27rem, 3.6rem);
    --content-width: 740px;
    --container-width: 1260px;

    --main-spacing: 4vw;
}

:root.has-light-text {
    --color-text: #f5f5f5;
    --color-text-secondary: rgba(255, 255, 255, .5);
    --color-light-gray: rgba(255, 255, 255, 0.1);
    --color-lightest-gray: rgba(255, 255, 255, .05);
    --color-white: #15171a;
    --color-subtitle: #eff1f5;
}

body.is-font-playful {
    --font-title: 'Kumbh Sans', sans-serif;
    --font-text: 'Roboto Flex', sans-serif;
}

body.is-font-tight {
    --font-title: 'Inter Tight', sans-serif;
    --font-text: 'Inter', sans-serif;
}

body.is-font-elegant {
    --font-title: 'Lora', serif;
    --font-text: 'Joan', serif;
}

/* ==========================================================================
   Base styles
   ========================================================================== */

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-text);
    font-size: 2rem;
    line-height: 1.78;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    text-shadow: none;
    background: #daf2fd;
}

hr {
    position: relative;
    display: block;
    width: 100%;
    margin: 2vw 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--color-text);
}
p + hr{
    margin-top: 0;
}

img,
picture {
    height: auto;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: vertical;
}

::not(.verdin-content) p,
::not(.verdin-content) ul,
::not(.verdin-content) ol,
::not(.verdin-content) dl,
::not(.verdin-content) blockquote {
    margin: 0 0 1.5em 0;
}

ol,
ul {
    padding-left: 1.3em;
    padding-right: 1.5em;
    margin-top: 0;
}

ol ol,
ul ul,
ul ol,
ol ul {
    margin: 0.5em 0 1em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

ul,
ol {
    max-width: 100%;
}

li {
    padding-left: 0.3em;
    line-height: 1.6em;
}

li+li {
    margin-top: 1vw;
}

li::marker {
    color: var(--ghost-accent-color);
}

dt {
    float: left;
    margin: 0 20px 0 0;
    width: 120px;
    color: #daf2fd;
    font-weight: 500;
    text-align: right;
}

dd {
    margin: 0 0 5px 0;
    text-align: left;
}

blockquote {
    border-left: 4px solid var(--ghost-accent-color);
    box-sizing: border-box;
    font-family: var(--font-title);
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: calc(var(--main-spacing)/2);
    padding-bottom: 2rem;
    padding-left: 1em;
    padding-top: 2rem;
    width: 100%;
    margin-top: calc(var(--main-spacing)/2);
}

blockquote p {
    margin: 0 0 1rem;
}

blockquote p:last-child {
    margin-bottom: 0;
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    opacity: 0.8;
}

/* Quotation marks */
blockquote small:before {
    content: "\2014 \00A0";
}

blockquote cite {
    font-weight: bold;
}

blockquote cite a {
    font-weight: normal;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

.verdin-content a:not(.verdin-btn) {
    text-decoration: underline;
}

.verdin-content a:not(.verdin-btn):not(.kg-product-card-button):hover {
    color: var(--ghost-accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h0 {
    margin-top: 0;
    color: var(--color-text);
    font-family: var(--font-title);
    font-weight: bold;
    text-rendering: optimizeLegibility;
    word-spacing: .1em;
}

p {
    margin-bottom: calc(var(--main-spacing)/1.68);
}

p:last-child {
    margin-bottom: 0;
}


h1,
.h1 {
    margin-top: 0;
    font-size: 1rem;
    font-size: clamp(2.6rem, -0.8886666666666669rem + 9.443333333333333vw, 5.666rem);
    line-height: 1.3;
}

h2,
.h2 {
    font-size: 1rem;
    font-size: clamp(2.4rem, -0.08466666666666667rem + 5.423333333333333vw, 4.254rem);
    line-height: 1.35;
}

h3,
.h3 {
    font-size: 1rem;
    font-size: clamp(2.4rem, 0.2546666666666666rem + 3.726666666666667vw, 3.236rem);
    line-height: 1.35;
}

h4,
.h4 {
    font-size: 1rem;
    font-size: clamp(2.4rem, 0.5273333333333332rem + 1.3633333333333337vw, 2.418rem);
    line-height: 1.2;
}

h5,
.h5 {
    font-size: 1rem;
    font-size: clamp(2.1rem, 0.6666666666666667rem + 1.6666666666666667vw, 2rem);
    line-height: 1.4;
}

h6,
.h6 {
    font-size: 1rem;
    font-size: clamp(2rem, 0.7666666666666667rem + 1.1666666666666665vw, 1.7rem);
    line-height: 1.4;
}

.verdin-subtitle {
    font-size: 1.8rem;
    font-weight: 400;
    padding: 12px 0 0;
}

.lh-1 {
    line-height: 1;
}

.fw-normal {
    font-weight: normal;
}

.bolder {
    font-weight: 900;
}

.text-small {
    font-size: 1.6rem;
}

.text-center {
    text-align: center;
}

.color-muted {
    color: var(--color-text-secondary);
}

.color-white {
    color: var(--color-white);
}

.color-accent {
    color: var(--ghost-accent-color);
}

.d-block {
    display: block;
}

.d-grid {
    display: grid;
}

[data-column="2"] {
    grid-template-columns: 50% 50%;
}

[data-column="3"] {
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

[data-gap="4"] {
    gap: var(--main-spacing);
}

[data-gap="2"] {
    gap: 2vw;
}

[data-gap="3"] {
    gap: 3vw;
    row-gap: 0;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-05 {
    margin-top: 0.5rem !important;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: var(--main-spacing);
}

.mb-05 {
    margin-bottom: 0.5rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mb-6 {
    margin-bottom: 6vw;
}

.mb-4,
.verdin-grid-feed {
    margin-bottom: var(--main-spacing);
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.mb-3 {
    margin-bottom: 3rem;
}

.px-4 {
    padding: 0 var(--main-spacing);
}

.color-bg-accent {
    background-color: var(--ghost-accent-color);
}

.color-bg-text {
    background-color: var(--color-text);
}

figcaption {
    margin-top: 8px;
}

.text-decoration-none {
    text-decoration: none !important;
}

.text-transform-uppercase {
    text-transform: uppercase;
}

.z-1 {
    z-index: 1;
}

.z-10 {
    z-index: 10;
}


.verdin-content>h1,
.verdin-content>h2,
.verdin-content>h3,
.verdin-content>h4,
.verdin-content>h5,
.verdin-content>h6 {
    margin-bottom: 1vw;
}
.verdin-content h4 + ul,
.verdin-content h4 + ol,
.verdin-content h3 + ol,
.verdin-content h3 + ul,
.verdin-content h2 + ol,
.verdin-content h2 + ul{
    margin-top: calc(var(--main-spacing)/4);
}
.verdin-content ul,
.verdin-content ol{
    margin-bottom: calc(var(--main-spacing)/1.68);
}

@media (min-width: 1100px) {
    .verdin-list-feed article:first-child .h2 {
        font-size: 1rem;
        font-size: clamp(2.4rem, -0.6333333333333333rem + 8.166666666666666vw, 5.9rem) !important;
    }
    
    .verdin-list-feed article:nth-child(2) .h2,
    .display-2 {
        font-size: 1rem;
        font-size: clamp(2.4rem, -0.4333333333333331rem + 7.166666666666666vw, 5.3rem) !important;
    }
}
@media (max-width: 1024px) {
    .verdin-article-title{
        font-size: clamp(2.8rem, -0.6333333333333333rem + 8.166666666666666vw, 4.5rem) !important;
    }
}

/* ==========================================================================
   Header
   ========================================================================== */

.verdin-header {
    margin-bottom: 0;
    height: 140px;
    display: flex;
    align-items: center;
}


.verdin-header-inner {
    align-items: center;
    column-gap: 0;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
}

.verdin-head-brand {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
@media (max-width: 768px) {
    .verdin-head-brand {
        display: grid;
        grid-template-columns: 1fr auto;
        width: 100%;
    }
    .verdin-header{
        height: 90px;
    }
    .verdin-header-inner {
        grid-template-columns: 1fr;
    }
}

.verdin-sidebar-header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}

.verdin-head-link {
    margin-right: 3rem;
    padding: 0;
    font-size: 1.7rem;
    letter-spacing: .05em;
    transition: all .2s ease-in-out;
    font-family: var(--font-title);
    font-weight: bold;
}

.verdin-head-link:hover {
    color: var(--ghost-accent-color);
}

.verdin-head-logo {
    display: block;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .11em;
}

.verdin-section-bg {
    background: var(--color-lightest-gray);
    padding-top: var(--main-spacing);
    padding-bottom: var(--main-spacing);
}
@media (max-width: 768px) {

.verdin-head-main-content{
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3999997;
    justify-content: center;
    align-items: flex-start;
    padding-top: 14rem;
    align-items: flex-start;
    background: var(--color-bg);
    pointer-events: none;
}
.is-head-open .verdin-head-main-content{
    pointer-events: auto;
    display: flex;
}
.verdin-head-brand-main{
    display: flex;
    justify-content: space-between;
    width: 100%;    
    align-items: center;
    position: relative;
    z-index: 3999998;
}
.is-head-open .verdin-head-main-content .hide-on-md{
    display: flex;
}
.verdin-head-brand{
    flex-direction: column;
    width: 100%;
}
.is-head-open .nav{
    flex-direction: column;
    font-size: 2.4rem;
    margin: 0;
}
.verdin-head-actions{
    position: absolute;
    bottom: 4rem;
    z-index: 3999998;
    flex-direction: column;
    width: 100%;
    left: 0; 
}
.verdin-head-actions .verdin-head-members{
    flex-direction: column;
    gap: 2rem;
}
.verdin-head-actions .verdin-head-link{
    margin-right: 0;
}
.is-head-open .hide-on-md{
    display: flex;
}
}
.body-is-head-open{
    overflow: hidden;
}
/* Tweaks of modal windows */
#sodo-search-root{
    z-index: 999999999999;
    position: relative;    
}
.body-is-head-open .gh-portal-triggerbtn-iframe{
    display: none;
}


.verdin-burger-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 32px;
    background-color: transparent;
    cursor: pointer;
}

.verdin-burger-inner {
    width: 100%;
    height: 100%;
}

.verdin-burger-box::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    content: '';
    width: 100%;
    height: 3px;
    background: var(--color-text);
    transition: transform 300ms cubic-bezier(.2, .6, .3, 1), width 300ms cubic-bezier(.2, .6, .3, 1);
    will-change: transform, width;
}

.verdin-burger-inner::before,
.verdin-burger-inner::after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    content: '';
    width: 100%;
    height: 3px;
    background: var(--color-text);
    transition: transform 250ms cubic-bezier(.2, .7, .3, 1), width 250ms cubic-bezier(.2, .7, .3, 1);
    will-change: transform, width;
}

.verdin-burger-inner::before {
    transform: translateY(-10px);
}

.verdin-burger-inner::after {
    transform: translateY(10px);
}


.is-head-open .verdin-burger-box::before {
    width: 0;
    transform: translatex(19px);
    transition: transform 200ms cubic-bezier(.2, .7, .3, 1), width 200ms cubic-bezier(.2, .7, .3, 1);
}

.is-head-open .verdin-burger-inner::before {
    width: 26px;
    transform: translatex(8px) rotate(135deg);
}

.is-head-open .verdin-burger-inner::after {
    width: 26px;
    transform: translatex(8px) rotate(-135deg);
}


/* ==========================================================================
   Section About
   ========================================================================== */

.verdin-about-image,
.verdin-hero-image {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    width: 500px;
}

.verdin-rounded {
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.verdin-stylish,
.verdin-hero-image {
    border-radius: 250px 250px 0 0;
    aspect-ratio: 2/2.69;
    width: 360px;
}

@media (max-width: 768px) {
    .verdin-stylish,
    .verdin-hero-image {
        width: 400px;  
    }
}
@media (max-width: 515px) {
    .verdin-stylish,
    .verdin-hero-image {
        width: 100%;  
    }    
}
@media (min-width: 1100px) {
    .verdin-stylish,
    .verdin-hero-image{
        width: 460px;
    }
}

.verdin-about-inner,
.verdin-hero-inner {
    display: flex;
    align-items: center;
    gap: 4rem;
}
@media (max-width: 768px) {
    .verdin-about-inner,
    .verdin-hero-inner {
        gap: 2rem;
        flex-direction: column;
        text-align: center;
    }
}
@media (min-width: 1000px) {
    .verdin-about-inner,
    .verdin-hero-inner {
        display: flex;
        align-items: center;
        gap: 5rem;
    }
}
@media (min-width: 1200px) {
    .verdin-about-inner, .verdin-hero-inner{
        gap: 10rem;
    }
}

.verdin-about-secondary {
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    max-width: 640px;
}
@media (max-width: 768px) {
    .verdin-about-secondary {
        max-width: 100%;
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
    }    
}

.verdin-subscribe-input {
    border: 1px solid;
    max-width: 490px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    font-size: 1.8rem;
    font-family: monospace;
    cursor: pointer;
}
@media (max-width: 768px) {
    .verdin-subscribe-input {
        max-width: 100%;
    }
}

.verdin-head-members {
    display: flex;
    align-items: center;
}

.verdin-icon-on {
    flex-direction: column;
    gap: 2vw;
    align-items: center;
    text-align: center;
}
.verdin-icon-on .verdin-subscribe-input{
    margin: 0 auto;
}
.verdin-body-icon-on .verdin-list-title{
    align-items: center;
}

.verdin-about-icon {
    max-width: 169px;
    border-radius: 50%;
}

/* ==========================================================================
   Navigation
   ========================================================================== */

.nav {
    list-style: none;
    display: inline-flex;
    align-items: center;
    gap: 3rem;
    margin: 0 0 0 3rem;
    padding: 0;
    font-size: 1.7rem;
    letter-spacing: .05em;
    font-family: var(--font-title);
    font-weight: bold;
}

.nav li {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.nav a {
    transition: all .2s ease-in-out;
    line-height: 1;
    display: block;
}

.nav a:hover {
    color: var(--ghost-accent-color);
}

.verdin-burger,
.verdin-lg-hide {
    display: none;
}
.gh-head-menu {
    display: flex;
}
.gh-icon-btn {
    align-items: center;
    background-color: transparent;
    border: 0;
    color: var(--color-text);
    cursor: pointer;
    display: inline-flex;
    height: 30px;
    justify-content: center;
    outline: none;
    padding: 0;
    width: 30px;
}
.nav-more-toggle {
    font-size: inherit;
    margin: 0 -6px;
    position: relative;
    text-transform: inherit;
}
.gh-dropdown {
    background-color: var(--color-white);
    border-radius: 0;
    margin-top: 10px;
    opacity: 0;
    padding: 12px 0;
    position: absolute;
    right: -16px;
    text-align: left;
    top: 100%;
    transform: translate3d(0,6px,0);
    transition: opacity .3s,transform .2s;
    visibility: hidden;
    width: 200px;
    z-index: 90;
}
.is-dropdown-open .gh-dropdown {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
.gh-dropdown li a {
    display: block;
    padding: 1.1rem 2.1rem;
}

/* ==========================================================================
   Layout widths
   ========================================================================== */

.verdin-inner {
    max-width: 50%;
    padding-left: 10vw;
}
.verdin-outer{
    margin-left: auto;
    margin-right: auto;

}

@media (max-width: 1315px) {
    .verdin-outer{
        max-width: 100%;
        padding-left: var(--main-spacing);
        padding-right: var(--main-spacing);
    }
}
@media (min-width: 1315px) {
    .verdin-outer {
        max-width: 1260px;
    }
}
@media (max-width: 768px) {
    .verdin-outer{
        max-width: 650px;
    }
}



/* ==========================================================================
  List feed
   ========================================================================== */

.verdin-list-feed {
    display: flex;
    flex-direction: column;
}

.verdin-list-feed .verdin-list-item-inner {
    padding-bottom: calc(var(--main-spacing)/1.68);
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}
@media (max-width: 768px) {
    .verdin-list-feed .verdin-list-item-inner {
        grid-template-columns: 100%;
    } 
}

/* ==========================================================================
  Grid feed
   ========================================================================== */

.verdin-grid-feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
}


.verdin-grid-feed .verdin-list-item-inner {
    display: flex;
    flex-direction: column-reverse;
    background: transparent;
    padding: 0px;
    transition: all .2s ease-in-out;
    height: 100%;
    justify-content: flex-end;
}
@media (max-width: 1024px) {
    .verdin-grid-feed {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: calc(var(--main-spacing)/1.68);
    }  
}
@media (max-width: 768px) {
    .verdin-grid-feed {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }   

}

.verdin-grid-feed .verdin-list-item-content {
    margin-top: 2rem;
}

.verdin-grid-feed .verdin-list-item-meta {
    margin-top: 2rem;
}

.verdin-grid-feed .verdin-image-hover {
    overflow: hidden;
}

.verdin-grid-feed .verdin-image-hover .verdin-list-item-image {
    bottom: 0;
    opacity: 0.15;
}

.verdin-grid-feed .verdin-image-hover:hover .verdin-list-item-image {
    opacity: .2;
}
.verdin-list-item-image img{
    width: 100%;
}

/* ==========================================================================
  Post list
   ========================================================================== */

.verdin-list-title:after {
    background-color: var(--color-text);
    content: "";
    display: block;
    height: 15px;
    width: 62px;
    opacity: .1;
    margin-top: calc(var(--main-spacing)/2);
}

.verdin-list-title {
    margin-bottom: calc(var(--main-spacing)/2);
    display: flex;
    align-items: flex-start;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    line-height: 1;
    position: relative;
    flex-direction: column;
}
@media (max-width: 768px) {
    .verdin-list-title:after{
        margin-top: calc(var(--main-spacing)/1.68);
    }    
    .verdin-list-title{
        margin-top: calc(var(--main-spacing)/1.68);
    }
}
@media (max-width: 540px) {
    .verdin-list-title:after{
        margin-top: calc(var(--main-spacing)/1.68);
    }    
    .verdin-list-title{
        margin-top: calc(var(--main-spacing)*1.68);
    }
}

.verdin-list-item {
    position: relative;
}

.verdin-list-item-image {

    pointer-events: none;
    transition: all .4s ease-in-out;
}

.verdin-grid-feed .verdin-list-item-image {
    width: 100%;
}

.verdin-grid-feed .verdin-list-item-image img {
    aspect-ratio: 1/1.2;
    object-fit: cover;
    width: 100%;
}

.verdin-image-hover:hover .verdin-list-item-image,
.verdin-meta-hover:hover .verdin-list-item-meta-hide {
    opacity: 1;
}

.verdin-list-item-primary-tag {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .11em;
    font-family: var(--font-title);
    font-weight: bold;
    color: var(--ghost-accent-color);
}

.verdin-list-item-primary-tag:hover {
    color: var(--color-text);
}

.verdin-list-item-title {
    display: inline;
    border-bottom: 1px solid var(--color-light-gray);
}

.verdin-list-item:hover .verdin-list-item-title {
    border-color: var(--ghost-accent-color);
}

.verdin-list-item-meta {
    color: var(--color-text-secondary);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    margin-top: 1.5rem;
}



.verdin-list-item-meta span {
    display: inline-flex;
    align-items: center;
    font-family: var(--font-title);
}

.verdin-list-item-meta span:first-child::before {
    display: none;
}

.verdin-list-item-meta span:before {
    background-color: var(--ghost-accent-color);
    border-radius: 50%;
    content: "";
    height: 4px;
    margin: auto 0.9rem;
    width: 4px;
    display: inline-flex;
}

.verdin-list-item-excerpt {
    margin-top: 2rem;
}

.featured .item-featured {
    background-color: var(--ghost-accent-color);
}

@media (min-width: 1100px) {
    .verdin-image-hover .verdin-list-item-image {
        opacity: 0;
        position: absolute;
        z-index: 9999;
        right: 0;
    }    
    .verdin-list-feed .verdin-list-item-image {
        width: 390px;
        height: 390px;
        border-radius: 50%;
        overflow: hidden;
    }
    .verdin-list-feed .verdin-list-item-image img {
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
    }

    .verdin-meta-hover .verdin-list-item-meta-hide {
        opacity: 0;
    }

    .verdin-list-item-meta,
    .verdin-list-item-primary-tag{
        font-size: 1.8rem;
    }
    .verdin-list-item-meta span:before{
        margin: auto 1.5rem;
    }
    
}
@media (max-width: 1024px) and (min-width: 769px) {
    .verdin-list-feed .verdin-list-item-image {
        width: 230px;
        justify-self: flex-end;
    }
}

@media (max-width: 768px) {
    .verdin-list-feed .verdin-list-item-image{
        order: -1;
        margin-bottom: 1rem;
    }
    .verdin-list-item-meta{
        flex-wrap: wrap;
        margin-top: 1rem;
    }
    .verdin-list-item-inner{
        position: relative;
    }
    .verdin-list-item-inner .verdin-lock{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    

}

/* ==========================================================================
  Authors feed
   ========================================================================== */

.verdin-authors-feed {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
}



.verdin-authors-feed a:hover .verdin-author-count-posts,
.authors-no-image .verdin-author-count-posts {
    opacity: 1;
}

.verdin-related-item a {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;

}
@media (min-width: 768px) {
    .verdin-related-item a {
        padding-right: 10rem;
    }   
}
@media (max-width: 768px) {
.verdin-related-item-content{
    line-height: 1.4;
}
.verdin-related-item-content .h4{
    font-size: 1.8rem;
}
}
.verdin-related-item:hover .h4{
    color: var(--ghost-accent-color);
}

.verdin-related-item img {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

/* ==========================================================================
  More feed
   ========================================================================== */

.verdin-more-feed a{
    align-items: center;
    display: inline-flex;
    height: 6rem;
    margin-right: 5rem;
    letter-spacing: .03em;
}
.verdin-more-feed a:hover{
    color: var(--ghost-accent-color);
}



/* ==========================================================================
    Membership page
   ========================================================================== */

.verdin-tiers {
    grid-column: main-start/main-end;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vw;
}
@media (min-width: 1020px) {
    .verdin-tiers {
        grid-column: wide-start/wide-end;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2vw;
    }   
}


.verdin-checkout-plan {
    background: var(--color-white);
    border: 1px solid;
    padding: 2vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.verdin-checkout-plan-content {
    margin: 2vw 0 2.5vw;
    font-size: 1.8rem;
}

.verdin-checkout-plan-content li+li {
    margin-top: 0.5vw;
}

.verdin-toggle-btn {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1vw;
}

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}

input:checked+.slider {
    background-color: var(--ghost-accent-color);
}

.slider.round {
    border-radius: 34px;
}

.slider {
    background-color: var(--color-light-gray);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider:before {
    background-color: var(--color-white);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
    border-radius: 50%;
}

.verdin-monthly-label {
    text-align: right;
}

.verdin-top-actions {
    margin-bottom: 2vw;
}

.verdin-monthly-price,
.verdin-checkout-plan .price-btn-monthly {
    display: none !important;
}

.verdin-active .verdin-monthly-price {
    display: block !important;
}

.verdin-active .verdin-checkout-plan .price-btn-monthly {
    display: inline-flex !important;
}

.verdin-active .verdin-yearly-price,
.verdin-active .verdin-checkout-plan .price-btn-annually {
    display: none !important;
}


.verdin-plan-paid {
    position: absolute;
    top: 2vw;
    right: 0;
}

.verdin-plan-paid {
    font-weight: normal;
}

.verdin-price-wrapper {
    display: block;
    line-height: 1;
    padding-left: 2.5rem;
    position: relative;
}

.verdin-price-wrapper sup {
    top: 0;
    position: absolute;
    font-size: 65%;
    left: 0;
}

.verdin-price-label {
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: .05em;
}

/* ==========================================================================
    Section Call to action
   ========================================================================== */


.verdin-btn {
    align-items: center;
    background-color: var(--color-text);
    border: none;
    color: var(--color-bg);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--font-title);
    font-size: 1.5rem;
    font-weight: bold;
    height: 46px;
    justify-content: center;
    letter-spacing: .11em;
    padding: 0 2rem;
    text-decoration: none;
    transition: background .2s ease-in-out;
    line-height: 1;
}

.disabled {
    pointer-events: none;
    opacity: .5;
}

.verdin-btn:hover,
.verdin-subscribe-input:hover .verdin-btn{
    background-color: var(--ghost-accent-color);
}

.verdin-btn-large {
    height: 58px;
    padding: 0 4rem;
    font-size: 1.6rem;
}

.w-full {
    width: 100%;
}

.verdin-search {
    width: 50px;
    height: 50px;
    padding: 0;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1344px) {
    .verdin-search {
        width: 38px;
        height: 38px;
    }    
}
.verdin-mobile-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.verdin-head-actions {
    display: flex;
    align-items: center;
    justify-self: end;

}
.verdin-head-actions .show-on-md{
    display: none;
}

.verdin-cta-inner {
    display: grid;
    grid-template-columns: 55% auto;
    align-items: center;
    gap: 2vw;
}
@media (max-width: 1024px) {
    .verdin-cta-inner{
        grid-template-columns: 45% auto;
    }
}
@media (max-width: 768px) {
    .verdin-cta-inner {
        grid-template-columns: 100%;
        gap: 4vw;
    }   
    .verdin-subscribe-input{
        flex-direction: column;
        padding: 1rem .5rem .5rem;        
    } 
    .verdin-subscribe-input .verdin-btn{
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
    }
}

.verdin-cta {
    background: var(--color-lightest-gray);
    padding: var(--main-spacing);
    position: relative;
    border: 1px solid;
}

.verdin-cta-inner .verdin-subscribe-input {
    max-width: 100%;
}

.cta-spark {
    opacity: .1;
    position: absolute;
    right: var(--main-spacing);
    z-index: -1;
}

.cta-spark svg {
    display: block;
    width: 330px;
}

.verdin-cta-inner .verdin-subscribe-input {
    background-color: var(--color-bg);
}

/* ==========================================================================
    Icon handlers
   ========================================================================== */

.verdin-lock {
    align-items: center;
    background: var(--color-text);
    color: var(--color-bg);
    display: inline-flex;
    flex-direction: row;
    font-size: 1.2rem;
    gap: 0.6rem;
    height: 30px;
    justify-content: center;
    letter-spacing: .05em;
    line-height: 1.2;
    margin-left: 2rem;
    padding: 0.8rem 0.7rem;
    font-family: var(--font-title);
}

.verdin-lock svg {
    width: 16px;
}

.verdin-list-item-meta span.verdin-lock:before {
    display: none;
}

/* ==========================================================================
    Single post
   ========================================================================== */

.verdin-article-excerpt {
    margin-top: 2rem;
    font-size: 2rem;
    padding-right: 3rem;
    padding-top: 1vw;
    color: var(--color-subtitle);
    font-family: var(--font-title);
    font-weight: bold;
}

.verdin-article-header {
    flex: 0 0 55%;
}
@media (max-width: 768px) {
    .verdin-article-header {
        flex: 0 0 100%;
        flex-direction: column-reverse;
        text-align: left;
    }   
    .verdin-article-header .verdin-list-item-meta{
        justify-content: start;
    }
    .verdin-article-header .verdin-lock{
        margin-top: 0;
    }

    .verdin-article-header-main{
        max-width: 100%;
        padding-left: var(--gap);
        padding-right: var(--gap);
        margin-bottom: var(--gap);
    }
}


.verdin-article-header {
    justify-content: space-between;
}

.verdin-post-sneak-peek {
    position: relative;
}

.verdin-post-sneak-peek.fading:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(transparent, var(--color-bg) 100%);
}

.verdin-content {
    position: relative;
    min-height: 13vw;
}

/* ==========================================================================
    Share
   ========================================================================== */



.verdin-share-list {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(6, 48px);
    justify-content: flex-start;
    list-style: none;
    margin-top: 1rem;
    padding: 0;
}

.verdin-content-sticky-inner .verdin-author-image img {
    border-radius: 50%;
    width: 96px;
    height: 96px;
    object-fit: cover;
}

.verdin-share-item {
    margin: 0;
    padding: 0;
    width: 48px;
}

.verdin-share-link {
    align-items: center;
    background-color: var(--color-lightest-gray);
    display: flex;
    height: 32px;
    justify-content: center;
    transition: background .2s ease-in-out;
    width: 100%;
}

.verdin-share-link svg {
    height: 14px;
}

.verdin-share-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.verdin-share .verdin-list-title {
    margin-bottom: 3rem;
}

.verdin-sticky-item:first-child:before{
    display: none;
}

.verdin-sticky-item:before,
.verdin-separator:before {
    background: var(--color-text);
    content: "";
    opacity: .1;
    display: block;
    height: 15px;
    margin-bottom: 1.5vw;
    width: 69px;
}


.verdin-sticky-item .verdin-list-item-meta,
.verdin-sticky-item-prev-next .verdin-list-item-meta{
    font-family: var(--font-title);
    font-size: 1.4rem;
    letter-spacing: .05em;
    line-height: 1;
    display: block;
    margin-bottom: 0.5rem;
}


@media (min-width: 1200px) {
    .verdin-content-sticky {
        grid-column: wide-start/main-start;
        position: absolute;
        top: 0;
        align-self: start;
        height: 100%;
    }
    .verdin-content-sticky-inner {
        display: flex;
        flex-direction: column;
        gap: 1.5vw;
        padding-right: 3vw;
        position: sticky;
        width: 100%;
        top: var(--main-spacing);
    }
    .verdin-sticky-item {
        max-width: 221px;
    }
    .verdin-share-list{
        grid-template-columns: repeat(3, 48px); 
    }
    
    }
    
    @media (max-width: 1200px) {
    
    .verdin-content-sticky .verdin-sticky-item{
        margin-top: calc(var(--main-spacing)/0.68);
    }
    }




/* ==========================================================================
   Content CTA
   ========================================================================== */


.verdin-content-cta .cta-spark {
    top: 50%;
    transform: translateY(-50%);
    opacity: .075;
}

.verdin-content-cta {
    border: 1px solid;
}

.verdin-content-cta .verdin-btn {
    margin-top: 2.5vw;
}

.verdin-reserved-for {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
}

.verdin-reserved-for .verdin-lock {
    margin-left: 0;
}

.verdin-article-comments iframe {
    margin: 0;
}


/* ==========================================================================
   Author
   ========================================================================== */

.verdin-list-header-subtitle {
    display: flex;
    align-items: center;
}

.verdin-author__image {
    max-width: 169px;
    border-radius: 50%;
    object-fit: cover;
}

.verdin-author-image__placeholder {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    gap: 4rem;
}

.verdin-author .verdin-author__meta {
    margin-top: 0;
}

.verdin-author-social {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.verdin-author-social a {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: var(--color-lightest-gray);
    transition: background .2s ease-in-out;
    color: var(--color-text);
}

.verdin-author-social a:hover {
    background-color: var(--color-light-gray);
    color: var(--ghost-accent-color);
}

.verdin-author-social a svg {
    width: 20px;
}

/* ==========================================================================
   Tags
   ========================================================================== */


.verdin-tags a {
    align-items: center;
    background-color: var(--color-lightest-gray);
    display: inline-flex;
    justify-content: center;
    padding: 0.5rem 2rem;
    text-decoration: none !important;
    transition: background .2s ease-in-out;
    font-size: 1.6rem;
    font-family: var(--font-title);
    letter-spacing: .05em;
    font-weight: bold;
}

.verdin-tags a:hover {
    color: var(--ghost-accent-color);
    background-color: var(--color-light-gray);
}

.verdin-tags a+a {
    margin-left: 1rem;
}

/* ==========================================================================
   Archives
   ========================================================================== */

.verdin-list-header .verdin-cta-inner {
    justify-content: space-between;
}

.verdin-archive .verdin-cta {
    padding: 6rem 6rem;
}

.verdin-archive-header {
    align-items: flex-start;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    gap: 2.5vw;
}

.verdin-archive-image img {
    width: 240px;
    border-radius: 50%;
    object-fit: cover;
    height: 240px;
}

.verdin-archive-image {
    text-align: right;
}
.verdin-archive-description{
    letter-spacing: .075em;
    font-size: 1.8rem;
    line-height: 1.7;    
}

/* ==========================================================================
   Cards - addtiona stylings
   ========================================================================== */


.kg-card,
.kg-embed-card,
.kg-image-card,
iframe,
.js-reframe {
    margin-bottom: calc(var(--main-spacing)/1.68);
}
.kg-card .js-reframe,
.kg-card iframe{
    margin-bottom: 0;
}

.kg-width-wide {
    position: relative;
    z-index: 10;
}

.kg-gallery-card,
.kg-image-card {
    --gap: 1vw;
}

.kg-gallery-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    background: var(--color-bg);
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap);
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.verdin-content .kg-toggle-card{
    background: var(--color-white);
    box-shadow: none;
    border: 1px solid;
    border-radius: 0;
}

.verdin-content .kg-toggle-card-icon{
    background: var(--color-white) !important;
    padding: 0;
}
.verdin-content .kg-toggle-card .kg-toggle-card-icon, 
.verdin-content .kg-toggle-card .kg-toggle-card-icon svg {
    width: 20px;
    height: 20px;
    color: var(--color-three);
}
.verdin-content .kg-toggle-card .kg-toggle-content ol, 
.verdin-content .kg-toggle-card .kg-toggle-content p, 
.verdin-content .kg-toggle-card .kg-toggle-content ul {
    font-size: 1.8rem;
    line-height: 1.7;
    margin-top: 0.95em;
}
.verdin-content-faq .kg-toggle-card{
    margin-bottom: 0;
}
.verdin-content-faq  .kg-toggle-card+.kg-toggle-card{
    margin-top: 1em;
}
.verdin-content .kg-toggle-card+.kg-toggle-card{
    margin-top: 0;
}
.verdin-content .kg-audio-card{
    background: var(--color-white);
    border: 1px solid;
    border-radius: 0;
    box-shadow: none;
    padding: 1.5rem;
}

.verdin-content .kg-callout-card.kg-card{
    border-radius: 0;
}
.verdin-content .kg-callout-card{
    padding: 4rem;
}
.verdin-content .kg-callout-card div.kg-callout-text {
    font-size: 1.8rem;
    line-height: 1.7;
}
.verdin-content .kg-callout-card+.kg-callout-card {
    margin-top: 0;
}

.verdin-content .kg-bookmark-card,
.verdin-content .kg-file-card{
    background: var(--color-white);
    box-shadow: none;
    border: 1px solid;
}
.verdin-content .kg-bookmark-card .kg-bookmark-metadata{
    color: var(--color-text-secondary);
}
.verdin-content .kg-bookmark-card a.kg-bookmark-container, 
.verdin-content .kg-bookmark-card a.kg-bookmark-container:hover{
    border: none;
}
.verdin-content .kg-bookmark-card .kg-bookmark-container,
.verdin-content .kg-bookmark-card .kg-bookmark-thumbnail img {
    border-radius: 0!important;
}
.verdin-content pre>code {
    display: block;
    padding: 3rem 3.5rem;
    white-space: pre-wrap;
}
.verdin-content code {
    font-size: 69%;
    background-color:var(--color-lightest-gray);
}
.verdin-content .kg-file-card-title{
    margin-bottom: 2rem;
}

.verdin-content .kg-product-card-container{
    border-radius: 0;
    box-shadow: none;
    background: var(--color-white);
    border: 1px solid;    
    max-width: 600px;
    padding: 3rem;
}
.verdin-content .kg-product-card.kg-card a.kg-product-card-button,
.verdin-content .kg-header-card a.kg-header-card-button{
    margin-top: 12px;
    border-radius: 0;
    align-items: center;
    background-color: var(--color-text)!important;
    border: none;
    color: var(--color-bg)!important;
    cursor: pointer;
    display: inline-flex;
    font-family: var(--font-title)!important;
    font-size: 1.5rem !important;
    font-weight: 700;
    height: 46px!important;
    justify-content: center;
    letter-spacing: .11em;
    padding: 0 2rem;
    text-decoration: none;
    transition: background .2s ease-in-out;
}
.verdin-content .kg-product-card.kg-card a.kg-product-card-button:hover{
    background-color: var(--ghost-accent-color)!important;
}
.verdin-content .kg-header-card a.kg-header-card-button{
    width: 240px;
}
.verdin-content .kg-header-card.kg-style-dark a.kg-header-card-button{
    background-color: var(--color-white)!important; 
    color: var(--color-text)!important;
}
/* ==========================================================================
   Footer
   ========================================================================== */

.verdin-footer {
    border-top: none;
    padding-top: var(--main-spacing);
    padding-bottom: var(--main-spacing);
    font-size: 1.6rem;
}

.verdin-foot-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .verdin-foot-inner{
        flex-direction: column;
        gap: var(--main-spacing);
    } 
    .verdin-archive-image{
        order: -1;
    }
    .verdin-archive .verdin-cta{
        padding: 2.5rem;
    }
}

.verdin-foot-inner .nav li {
    display: inline-flex;
    align-items: center;

}

.verdin-foot-inner .nav {
    margin: 0;
    gap: 1.5rem;
}

.verdin-foot-inner .nav li+li:before {
    content: "•";
    font-size: 3rem;
    line-height: 0;
    margin-right: 1.5rem;
    color: var(--ghost-accent-color);
}

/* ==========================================================================
   Responsive
   ========================================================================== */
@media (max-width: 1200px) {
    .hide-on-lg{
        display: none;
    }
}
@media (max-width: 1020px) {
    .verdin-about-primary{
        font-size: 3rem;
    }

}
@media (max-width: 767px) {
    .hide-on-md{
        display: none;
    }
    .show-on-md{
        display: block !important;
    }
    .show-on-md-flex{
        display: flex !important;
    }
    .verdin-mobile-actions .verdin-search svg{
        width: 28px;
        height: 28px;
    }
}
@media (max-width: 768px) {
    :root {
        --main-spacing: 6vw;
    }
    .verdin-pagination button{
        width: 100%;
    }
    .verdin-header.verdin-outer{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .cta-spark svg{
        width: 100%;
    }
    .verdin-lock + .item-featured{
        top: 6rem;
    }
    .verdin-grid-feed .verdin-list-item-content, .verdin-grid-feed .verdin-list-item-meta{
        margin-top: 1rem;
    }
    .verdin-article-image{
        width: 100%;
    }
    .verdin-article-image img{
        margin: 0 auto;
    }

}

@media (max-width: 515px) {
    :root {
        --main-spacing: 6vw;
    }
}

@media (max-width: 450px) {
    .verdin-article-header .verdin-lock{
        width: 100px;
        margin-left: 0;
        margin-top: 1rem;
    }
}