<footer class="verdin-footer verdin-outer gh-foot">
    <div class="verdin-foot-inner color-muted">
        <div class="verdin-copyright">
             {{@site.title}} &copy; {{date format="YYYY"}}
        </div>
        <nav class="verdin-foot-menu">
            {{navigation type="secondary"}}
        </nav>

        <div class="verdin-copyright">
               {{t "Powered by "}}<a href="https://ghost.org/" target="_blank" rel="noopener">Ghost</a> & <a href="https://iristhemes.com/themes/verdin" target="_blank" rel="noopener">Verdin</a>
        </div>
    </div>
</footer>