{{!--
    Parameters:
    * layout (grid, magazine)
    * count (number)
    * columns (number)
    * slug (tag)
    * showHeader (true, false)
    * showPrimaryTag (true, false)
    * showPrimaryAuthor (true, false)
    * showExcerpt (true, false)
    * showPublishedAt (true, false)
    * showReadingTime (true, false)
    * hasPagination (true, false)
--}}

<div class="verdin-list" data-column="{{column}}">
    <div class="verdin-list-inner">

        <header class="verdin-list-header">
            <h2 class="verdin-list-title h5 bolder">{{title}}</h2>
        </header>


        <div class="verdin-more-feed mb-4">
            {{#get "tags" include="count.posts" order="count.posts desc"}}
                {{#foreach tags}}
                    <a href="{{url}}" class="h4">{{name}}</a>
                {{/foreach}}
            {{/get}}
        </div>


    </div>
</div>